<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Auto-Paginated Receipt</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @media print {
      thead {
        display: table-header-group;
        page-break-before: avoid;
      }
    }
   
  </style>
</head>
<body class="m-4">
  <table class="w-full border-collapse border border-gray-500">
    <tr>
      <td rowspan="1" colspan="8" class="border border-gray-500">
        <h1 class="text-3xl text-center font-bold text-gray-900 zen-dots-regular">Ashwitha</h1>
        <p class="text-xl text-center font-bold text-gray-900 zen-dots-regular">Electricals and Plumbing</p>
        <p class="text-sm text-center not-print:text-gray-600">13/322/A1, Vishnu Durga Fancy Store</p>
        <p class="text-sm text-center not-print:text-gray-600">Theni Main Road, Andipatti 625512</p>
        <p class="text-sm text-center not-print:text-gray-600">GSTIN:312312S23433434</p>
      </td>
    </tr>
    <tr>
      <td rowspan="3" colspan="3" class="w-2/6 border border-gray-500">
        <h3 class="font-semibold text-gray-900 p-1">Bill To:</h3>
        <p class="not-print:text-gray-700 px-1 text-sm">${customerName}</p>
        <p class="not-print:text-gray-700 px-1 text-sm">${customerMobile}</p>
        <p class="not-print:text-gray-700 px-1 text-sm">Andipatti, Theni</p>
      </td>
      <td rowspan="3" colspan="3" class="w-2/6 border border-gray-500">
        <h3 class="font-semibold text-gray-900 p-1">Bill To:</h3>
        <p class="not-print:text-gray-700 px-1 text-sm">${customerName}</p>
        <p class="not-print:text-gray-700 px-1 text-sm">${customerMobile}</p>
        <p class="not-print:text-gray-700 px-1 text-sm">Andipatti, Theni</p>
      </td>
      <td rowspan="1" colspan="1" class="w-1/6 border border-collapse border-gray-500">
        <p class="p-1">Invoice No:1</p>
      </td>
      <td rowspan="1" colspan="1" class="w-1/6 border border-collapse border-gray-500">
        <p class=" p-1">${bill_no}</p>
      </td>
    </tr>
    <tr>
      <td rowspan="1" colspan="1" class="w-1/6 border border-collapse border-gray-500">
          <p class="border p-1">Date:</p> 
      </td>
      <td rowspan="1" colspan="1" class="w-1/6 border border-collapse border-gray-500">
        <p class="border-b-1 p-1">${currentDate}</p>
      </td>
    </tr>
    <tr>
      <td rowspan="1" colspan="1" class="w-1/6 border border-collapse border-gray-500">
        <p class="p-1">Place of Supply</p>
      </td>
      <td rowspan="1" colspan="1" class="w-1/6 border border-collapse border-gray-500">
        <p class="p-1">Andipatti</p>
      </td>
    </tr>
    <thead>
    <tr class="">
      <th rowspan="1" colspan="1" class="w-1/12 border border-collapse border-gray-500">SI.No</th>
      <th rowspan="1" colspan="3" class="5/12 border border-collapse border-gray-500">Name</th>
      <th rowspan="1" colspan="1" class="w-1/12 border border-collapse border-gray-500">Quantity</th>
      <th rowspan="1" colspan="1" class="w-1/12 border border-collapse border-gray-500">MRP</th>
      <th rowspan="1" colspan="1" class="w-1/12 border border-collapse border-gray-500">Rate</th>
      <th rowspan="1" colspan="1" class="w-2/12 border border-collapse border-gray-500">Amount</th>
    </tr> 
    </thead> 
    <tbody>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="3" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">1000</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">100</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td rowspan="1" colspan="6"></td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="6"></td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="6"></td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="6"></td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="6"></td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
          <td rowspan="1" colspan="1" class="border border-collapse border-gray-500">Testing Product</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="6" class="border border-collapse border-gray-500"></td>
          <td rowspan="1" colspan="2" class="border border-collapse border-gray-500">Authorized</td>
        </tr>
      </tfoot>
  </table>
</body>
</html>
